@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: SpaceGBold;
    src: url(../fonts/Space_Grotesk/static/SpaceGrotesk-Bold.ttf);
}

body {
    font-family: SpaceGBold;
    font-size: 18px;
}

:root {
    --white: hsl(0, 0%, 100%);
    --Light-grayish-violet: hsl(270, 3%, 87%);
    --Dark-grayish-violet: hsl(279, 6%, 55%);
    --Very-dark-violet: hsl(278, 68%, 11%);
}

.cards {
    color: var(--white);
}

.xss {
    z-index: 1;
}

.cards>div>div {
    position: relative;
}

.cards>div>div>img {
    width: 24.83rem;
    box-shadow: 47px 36px 47px -8px rgba(0, 0, 0, 0.1);
}

.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

#form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    width: 50%;
}

#form label {
    font-variant: small-caps;
    letter-spacing: 3px;
    color: var(--Very-dark-violet);
}

#form input[type='text'] {
    border: 2px solid var(--Light-grayish-violet);
    border-radius: 5px;
    font-size: 16px;
    padding: 10px;
    outline: none;
    width: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#form input[type='text']:focus {
    border: 2px solid #7732A7;
}

.errorMessage {
    color: var(--Red);
    font-size: 12px;
    margin-top: 2px;
}

.form-boxes {
    display: flex;
    flex-direction: column;
}

#form-c2,
#form-c1 {
    grid-column: 1/3;
}

.formboxes-c {
    display: flex;
    gap: 1em;
}

.box6 {
    grid-column: 1/3;
}

.box6 input[type="button"] {
    font-size: 20px;
    background: var(--Very-dark-violet);
    border: none;
    color: var(--White);
    padding: 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    text-transform: capitalize;
    width: 100%;
}

.box6 input[type="button"]:hover {
    background: var(--Dark-grayish-violet);
}

@media (max-width:991px) {
    .desktop {
        display: flex;
        flex-direction: column;
    }
}